.inputBox{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 1s;
}
.inputBox input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #169ed4;
    outline: none;
    font-size: 18px;
    padding: 5px 0;
}
::placeholder {
    color: #00c0ce;
    font-size: 10px;
}
